@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
body {
  background: rgb(230, 50, 6);
  overflow: scroll;
  background-image: url(http://icons.iconarchive.com/icons/musett/dragon-ballz/256/Dragon-Ball-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.grad {
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.container1 {
  display: block;
  position: relative;
  left: 60px;
  width: 50%;
  text-align: center;
  font-family: "Ravi Prakash", cursive;
  -webkit-text-stroke: 2px rgb(75, 3, 3);
  font-size: 28px;
  font-weight: 700;
  perspective: 800px;
  perspective-origin: 50% 0;
}

p {
  color: yellow;
  background: linear-gradient(to bottom, yellow 0%, red 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left {
  transform-origin: 20% 0%;
  transform-style: preserve-3d;
  transform: rotateY(30deg);
}

.scroll {
  animation: scrolling 40s linear 0s none;
}

@keyframes scrolling {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(-100%);
  }
}
.logo {
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}

.container2 {
  display: block;
  position: absolute;
  left: 50%;
  top: 0px;
  width: 50%;
  height: 100%;
  text-align: center;
}

.goku {
  width: 100%;
  height: 105%;
  background-image: url("http://vignette2.wikia.nocookie.net/fictional-battle-omniverse/images/8/8b/Goku_Dragon_Ball_Z.png/revision/latest?cb=20150508010447");
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.goku:hover {
  background-image: url(http://vignette3.wikia.nocookie.net/vsbattles/images/5/56/Goku_%28Base%29.png/revision/latest?cb=20160315175220);
  background-size: 400px auto;
}

body:hover {
  background-image: url(http://pre15.deviantart.net/1b53/th/pre/i/2012/302/1/4/z_ball_dbz_by_fsuarez913-d5jc8v1.png);
  background-size: 300px 300px;
}

body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  max-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-box_Z {
  width: 100%;
  height: 100vh;
  background: url(../images/bg.jpg);
  display: flex;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.box {
  width: 350px;
  height: 615px;
  background-color: #1410dd;
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px 10px;
}

.image {
  height: 350px;
  max-height: 100%;
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
}

.details p {
  font-family: calibri;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: -20px;
}

.details h2 {
  font-family: calibri;
  font-weight: bold;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
}

.db {
  padding-top: 10px;
  height: 80px;
}

.db img {
  padding-top: 10px;
  height: 100%;
}

.logo {
  height: 60px;
}

.box:hover {
  background-color: #d33c0d;
  transform-style: preserve-3d;
  transform: scale(1.03);
  transition: all ease 0.3s;
}

@media (max-width: 820px) {
  .container-box_Z {
    width: 100%;
    height: 100vh;
    background: url(../images/bg.jpg);
    display: inline-block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: 94%;
    height: 500px;
  }
  .image {
    height: 250px;
  }
  .details p {
    font-size: 13px;
    width: 200px;
  }
  .db {
    padding-top: 10px;
    height: 60px;
  }
  .db img {
    width: 100px;
  }
}
.banner {
  width: 100%;
  padding: 60px;
  background: url("img/shenlong.jpg");
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 65px;
  background-color: #000fda;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  position: sticky;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: start;
  position: sticky;
  box-sizing: border-box;
  align-items: center;
}

.menu {
  display: flex;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 57px;
}

.navigation ul {
  list-style: none;
}

.menu > li {
  position: relative;
  list-style: none;
}

.menu > li > a {
  display: block;
  padding: 10px 10px;
  color: #fff;
  text-decoration: none;
}

.menu li a:hover {
  color: rgb(230, 50, 6);
}

.submenu {
  position: absolute;
  background: #000fda;
  visibility: hidden;
}

.submenu li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: flex-start;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

footer {
  background: #000fda;
  text-align: center;
  padding: 10px 0px;
}

/*# sourceMappingURL=style.css.map */
